* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  box-sizing: border-box;
}

body {
  margin: 0px 20px;
  background-color: hsl(0, 0%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-container {
  height: fit-content;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: hsl(0, 0%, 12%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.info div {
  margin-block: 5px;
}

.info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.info p {
  text-align: center;
}

.info .name .loc {
  color: hsl(75, 94%, 57%);
  margin-block: 8px;
  font-size: 14px;
}

.social-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

button {
  width: 300px;
  padding: 10px 30px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 20px;
  background-color: hsl(0, 0%, 20%);
  outline: none;
  border: none;
}

button:hover {
  background-color: hsl(75, 63%, 54%);
  color:  hsl(0, 0%, 12%);
}

h1,
p,
button {
  color: hsl(0, 0%, 100%);
}

@media (max-width:420px){
    body {
        height: 100%;
        margin: 28px 10px;
    }
    
    .profile-container {

        padding: 20px 16px;
    }
    
    button {
        width: 100%;
    }
}

